
	<div class="panel panel-explorer panel-tx">
      <div class="panel-heading">Block {{blk_height}}</div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Hash: </div>
		<div class="col-xs-12 col-sm-10">{{blk_hash}}</div>
	  </div>
	  {{#have_prev_hash}}
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Previous block: </div>
		<div class="col-xs-12 col-sm-10"><a href="/block/{{prev_hash}}">{{prev_hash}}</a></div>
	  </div>
	  {{/have_prev_hash}}
	  {{#have_next_hash}}
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Next block: </div>
		<div class="col-xs-12 col-sm-10"><a href="/block/{{next_hash}}">{{next_hash}}</a></div>
	  </div>
	  {{/have_next_hash}}
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Timestamp [UTC] (Epoch): </div>
		<div class="col-xs-12 col-sm-10">{{blk_timestamp}} ({{blk_timestamp_epoch}})</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Age {{age_format}}: </div>
		<div class="col-xs-12 col-sm-10">{{blk_age}}</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Δ [h:m:s]: </div>
		<div class="col-xs-12 col-sm-10">{{delta_time}}</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Major.minor version: </div>
		<div class="col-xs-12 col-sm-10">{{major_ver}}.{{minor_ver}}</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Block reward: </div>
		<div class="col-xs-12 col-sm-10">{{blk_reward}}</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Block size [kB]: </div>
		<div class="col-xs-12 col-sm-10">{{blk_size}}</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Nonce: </div>
		<div class="col-xs-12 col-sm-10">{{blk_nonce}}</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2">Total fees: </div>
		<div class="col-xs-12 col-sm-10">{{sum_fees}}</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-2"># of txs: </div>
		<div class="col-xs-12 col-sm-10">{{no_txs}}</div>
	  </div>
	</div>

	<div class="panel panel-explorer">
		<div class="panel-heading">
		  Coinbase transaction
		</div>
		<div class="panel-body">
		  <div class="table-responsive">
			  <table class="table table-hover table-striped">
				<thead>
				  <tr>
					<th>Hash</th>
					<th>Outputs</th>
					<th>Size [kB]</th>
					<th>Version</th>
				  </tr>
				</thead>
				<tbody>
						{{#coinbase_txs}}
						<tr>
							<td><a href="/tx/{{hash}}">{{hash}}</a>
							<td>{{sum_outputs}}</td>
							<td>{{tx_size}}</td>
							<td>{{version}}</td>
						</tr>
						{{/coinbase_txs}}
				</tbody>
			  </table>
		  </div>
		</div>
	</div>

	<div class="panel panel-explorer">
		<div class="panel-heading">
		  Transactions ({{no_txs}})
		</div>
		{{#have_txs}}
		<div class="panel-body">
			<div class="table-responsive">
			  <table class="table table-hover table-striped">
				<thead>
				  <tr>
					<th>Hash</th>
					<th>Outputs</th>
					<th>Fee</th>
					<th>Mixin</th>
					<th>In/Out</th>
					<th>Size [kB]</th>
					<th>Version</th>
				  </tr>
				</thead>
				<tbody>
						{{#blk_txs}}
						<tr>
							<td><a href="/tx/{{hash}}">{{hash}}</a></td>
							<td>{{{sum_outputs}}}</td>
							<td>{{tx_fee}}</td>
							<td>{{mixin}}</td>
							<td>{{no_inputs}}/{{no_outputs}}</td>                    
							<td>{{tx_size}}</td>
							<td>{{version}}</td>
						</tr>
						{{/blk_txs}}
				</tbody>
			  </table>
		  </div>
		</div>
		{{/have_txs}}
	</div>
