			<footer class="center copyright" style="margin: 30px auto;text-align: center;">
				<br/>
				<h5>Copyright &copy; 2017 Sumokoin.org</h5>
				<h6 style="margin:10px auto">
					<a href="https://github.com/sumoshi/sumokoin-blockchain-explorer">source code</a> | version: {{last_git_commit_date}} | last commit hash: {{last_git_commit_hash}}
				</h6>
				<div class="text-muted">
					Forked from <a target="_blank" href="https://github.com/moneroexamples/onion-monero-blockchain-explorer"><i class="fa fa-github"></i> onion-monero-blockchain-explorer</a>
				</div>
			</footer>
		</div>
	</body>
</html>
