	 <div class="panel panel-explorer panel-tx">
		  <div class="panel-heading">Transaction</div>
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Tx hash: </div>
			<div class="col-xs-12 col-sm-10" id="tx-hash">{{tx_hash}}</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Tx public key: </div>
			<div class="col-xs-12 col-sm-10">{{tx_pub_key}}</div>
		  </div>
		  {{#has_payment_id}}
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Payment id:</div>
			<div class="col-xs-12 col-sm-10">{{payment_id}}</div>
		  </div>
		  {{/has_payment_id}}
		  {{#has_payment_id8}}
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Payment id (encrypted):</div>
			<div class="col-xs-12 col-sm-10">{{payment_id8}}</div>
		  </div>
		  {{/has_payment_id8}}
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Block: </div>
			<div class="col-xs-12 col-sm-10"><a href="/block/{{blk_height}}">{{blk_height}}</a></div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Timestamp [UTC]: </div>
			<div class="col-xs-12 col-sm-10">{{blk_timestamp}}</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Age [y:d:h:m:s]: </div>
			<div class="col-xs-12 col-sm-10">{{delta_time}}</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Fee: </div>
			<div class="col-xs-12 col-sm-10">{{tx_fee}}</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-2">Tx size: </div>
			<div class="col-xs-12 col-sm-10">{{tx_size}} Kb</div>
		  </div>
	 </div>

    {{^tx_prove}}
        <h4>Checking which outputs belong to the given address and viewkey</h4>
        <h5>Address: <code>{{xmr_address}}</code></h5>
        <h5>Viewkey: <code>{{viewkey}}</code></h5>
    {{/tx_prove}}
    {{#tx_prove}}
        <h4>Prove that you send this tx to the given address</h4>
        <h5>Address: <code>{{xmr_address}}</code></h5>
        <h5>Tx private key: <code>{{viewkey}}</code></h5>
    {{/tx_prove}}
	
	<div class="panel panel-explorer">
		<div class="panel-heading">
		  Outputs ({{outputs_no}})
		</div>
		<div class="panel-body">
		  <div class="table-responsive">
			  <table class="table table-hover table-striped">
				<thead>
				  <tr>
					<th>Stealth address</th>
					<th>Amount</th>
					<th>Output match?</th>
				  </tr>
				</thead>
				<tbody>
				   {{#outputs}}
					<tr>
						<td>{{output_idx}}: {{out_pub_key}}</td>
						<td>{{{amount}}}</td>
						{{#mine_output}}
						<td>
							<span class="is-spent-true">Yes</span>
						</td>
						{{/mine_output}}
						{{^mine_output}}
						<td>No</td>
						{{/mine_output}}
					</tr>
					{{/outputs}}
				</tbody>
			  </table>
		  </div>
		</div>
	</div>
	{{#has_matched_outputs}}
	<h4 style="color:green">Found! Sum amount from matched outputs: <strong>{{sum_xmr}}</strong> SUMO</h4>
	{{/has_matched_outputs}}
	{{^has_matched_outputs}}
	<h4 style="color:red">NO matched outputs found!</h4>
	{{/has_matched_outputs}}
	
	<hr>
	
	<div class="panel panel-explorer panel-tx">
		<div class="panel-heading">
			Inputs
		</div>
		<div class="panel-body">
		  <div class="table-responsive">
			  <table class="table table-striped">
				<thead>
				  <tr>
					<th>Key Image <span style="font-size:90%;font-weight:normal;">(click row to view details)</span></th>
					<th>Amount</th>
				  </tr>
				</thead>
				<tbody>
					{{#inputs}}
					<tr class="tx-input">
					  <td>
						{{key_image}}
					  </td>
					  <td>{{{key_image_amount}}}</td>
					</tr>
					<tr style="display:none;"></tr>
					<tr class="tx-mixins-container">
					  <td colspan="3">
						{{#mixins}}
						<div class="table-responsive">
							<table class="table tx-mixins">
							  <thead>
								<tr>
								  <th>Mixin public key: {{mixin_pub_key}}</th>
								</tr>
							  </thead>
							  <tbody>
								  <tr>
									<td>
									 {{#mixin_outputs}}
										Uses outputs from tx: <a href="/tx/{{mix_tx_hash}}">{{mix_tx_hash}}</a>
										
											<div class="table-responsive">
												<table class="table tx-mixins">
												  <thead>
													<tr>
													  <th>Output Public Key</th>
													  <th>Amount</th>
													  <th>Is Ours?</th>
													</tr>
												  </thead>
												  <tbody>
													{{#found_outputs}}
													<tr>
													  <td>{{my_public_key}}</td>
													  <td>{{{amount}}}</td>
													  <td>
														{{#mine_output}}
															<span class="is-spent-true">Yes</span>
														{{/mine_output}}
														{{^mine_output}}
															No
														{{/mine_output}}
													  </td>
													</tr>
													{{/found_outputs}}
												  </tbody>
												</table>
											</div>
										
									 {{/mixin_outputs}}
									</td>
								  </tr>
							  </tbody>
							</table>
						</div>
						{{/mixins}}
					  </td>
					</tr>
					{{/inputs}}
				</tbody>
			  </table>
			</div>
		</div>
	</div>

  