    <h3>Signed Output Keys Checker</h3>

    <div style="text-align: center;">
        <form action="/checkrawoutputkeys" method="post" style="width:100%; margin-top:15px" autocomplete="off">
            <h4>Paste base64 encoded, signed output keys data here:</h4>
            <h5>(In Linux, can get base64 signed raw tx data: <code>base64 your_output_keys_filename | xclip -selection clipboard</code>)</h5>
            <h5>(In Windows, can get base64 signed raw tx data: <code>certutil.exe -encode -f your_output_keys_filename encoded.txt & type "encoded.txt" | clip</code>)</h5>
            <textarea name="rawoutputkeysdata" rows="20" cols="100"></textarea>
            <h4>Viewkey (<em>output keys file data is encoded using your viewkey. Thus is needed for decryption</em>)</h4>
            <h5><strong>Note: data and viewkey are sent to the server, as the calculations are done on the server side</strong></h5>
            <input type="text"  name="viewkey" size="80">
            <br/>
            <br/>
            <input class="btn btn-explorer" type="submit" name="action" value="check">
        </form>
    </div>
