<br/>
    <h3>Transaction Pusher</h3>

    <div style="text-align: center;">
        <form action="/checkandpush" method="post" style="width:100%; margin-top:15px" class="style-1">
            Paste base64 encoded, unsigned or signed transaction data here<br/>
            (In Linux, can get base64 signed raw tx data: <code>base64 signed_sumokoin_tx | xclip -selection clipboard</code>)<br/>
            (In Windows, can get base64 signed raw tx data: <code>certutil.exe -encode -f signed_sumokoin_tx encoded.txt & type "encoded.txt" | clip</code>)
			<br/>
            Note: data is sent to the server, as the calculations are done on the server side
            <br/>
            <textarea name="rawtxdata" rows="20" cols="80"></textarea>
            <div style="margin-top: 20px;">
				<input class="btn btn-explorer" type="submit" name="action" value="Check">
				&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
				&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
				<input class="btn btn-explorer" type="submit" name="action" value="Push">
			</div>
        </form>
    </div>
