	 <div class="panel panel-explorer panel-tx">
          <div class="panel-heading">Transaction</div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx hash: </div>
            <div class="col-xs-12 col-sm-10" id="tx-hash">{{tx_hash}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx prefix hash: </div>
            <div class="col-xs-12 col-sm-10">{{tx_prefix_hash}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx public key: </div>
            <div class="col-xs-12 col-sm-10">{{tx_pub_key}}</div>
          </div>
		  
		  {{#has_payment_id}}
		  <div class="row">
            <div class="col-xs-12 col-sm-2">Payment ID: </div>
            <div class="col-xs-12 col-sm-10">{{payment_id}}</div>
          </div>
		  {{/has_payment_id}}
		  
		  {{#has_payment_id8}}
		  <div class="row">
            <div class="col-xs-12 col-sm-2">Payment ID (encrypted): </div>
            <div class="col-xs-12 col-sm-10">{{payment_id8}}</div>
          </div>
		  {{/has_payment_id8}}
		  
		  {{#have_prev_hash}}
		  <div class="row">
            <div class="col-xs-12 col-sm-2">Previous tx: </div>
            <div class="col-xs-12 col-sm-10">{{prev_hash}}</div>
          </div>
		  {{/have_prev_hash}}
		  
		  {{#have_next_hash}}
		  <div class="row">
            <div class="col-xs-12 col-sm-2">Next tx: </div>
            <div class="col-xs-12 col-sm-10">{{next_hash}}</div>
          </div>
		  {{/have_next_hash}}
		  
          <div class="row">
            <div class="col-xs-12 col-sm-2">Block: </div>
			{{#blk_found}}
            <div class="col-xs-12 col-sm-10"><a href="/block/{{blk_height}}">{{blk_height}}</a></div>
			{{/blk_found}}
			{{^blk_found}}
            <div class="col-xs-12 col-sm-10">{{blk_height}}</div>
			{{/blk_found}}
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Output total: </div>
            <div class="col-xs-12 col-sm-10">{{{outputs_xmr_sum}}}</div>
          </div>
		  {{^have_raw_tx}}
          <!-- <div class="row"> -->
            <!-- <div class="col-xs-12 col-sm-2">Timestamp:</div> -->
            <!-- <div class="col-xs-12 col-sm-10">{{blk_timestamp_uint}}</div> -->
          <!-- </div> -->
          <div class="row">
            <div class="col-xs-12 col-sm-2">Timestamp [UTC]: </div>
            <div class="col-xs-12 col-sm-10">{{blk_timestamp}}</div>
          </div>
          <!-- <div class="row"> -->
            <!-- <div class="col-xs-12 col-sm-2">Age [y:d:h:m:s]: </div> -->
            <!-- <div class="col-xs-12 col-sm-10">{{delta_time}}</div> -->
          <!-- </div> -->
		  {{/have_raw_tx}}
          <div class="row">
            <div class="col-xs-12 col-sm-2">Fee: </div>
            <div class="col-xs-12 col-sm-10">{{tx_fee}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx size: </div>
            <div class="col-xs-12 col-sm-10">{{tx_size}} Kb</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx version: </div>
            <div class="col-xs-12 col-sm-10">{{tx_version}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2"># of confirmations: </div>
            <div class="col-xs-12 col-sm-10" id="tx-confirmations"> {{confirmations}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">RingCT/type: </div>
            <div class="col-xs-12 col-sm-10">{{#is_ringct}}yes/{{rct_type}}{{/is_ringct}}{{^is_ringct}}no{{/is_ringct}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Extra: </div>
            <div class="col-xs-12 col-sm-10">{{extra}}</div>
          </div>
     </div>
	 <div class="panel panel-explorer">
        <div class="panel-heading">
          {{outputs_no}} output(s) for total of {{outputs_xmr_sum_short}} SUMO
        </div>
        <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Stealth address</th>
                    <th>Amount</th>
                    <th>Amount Index</th>
                  </tr>
                </thead>
                <tbody>
				  {{#outputs}}
                  <tr>
					<td>{{output_idx}}</td>
					<td>{{out_pub_key}}</td>
					<td>{{{amount}}}</td>
					<td>{{amount_idx}} of {{num_outputs}}</td>
                  </tr>
				  {{/outputs}}
                </tbody>
              </table>
          </div>
        </div>
     </div>
	{{^have_raw_tx}}
    <div class="tx-tools">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#decode-outputs" aria-controls="decode-outputs" role="tab" data-toggle="tab">Decode outputs</a></li>
          <li role="presentation"><a href="#prove-sending" aria-controls="prove-sending" role="tab" data-toggle="tab">Prove sending</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="decode-outputs">
            <h4 style="margin: 0px">Check which outputs belong to given Sumokoin address and viewkey</h4>
			<h5 style="margin: 0px">
                For RingCT transactions, outputs' amounts are also decoded
                <br/>
                Note: address and viewkey are sent to the server, as the calculations are done on the server side
            </h5>
            <form action="/myoutputs" method="get" style="padding-top:20px; max-width: 900px; margin: auto; text-align: center;">
              <input type="hidden" name="tx_hash" value="{{tx_hash}}">
              <div class="form-group">
                <input type="text" class="form-control" id="inputMoneroAddress" placeholder="Sumokoin address" name="xmr_address"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputViewKey" placeholder="Private viewkey" name="viewkey"/>
				<input type="hidden" name="raw_tx_data" value="{{raw_tx_data}}">
              </div>
              <button type="submit" class="btn btn-explorer">Decode outputs</button>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="prove-sending">
            <h4 style="margin: 0px">Prove to someone that you send them Sumokoin in this transaction</h4>
            <h5 style="margin: 0px">Tx private key can be obtained using <i>get_tx_key</i>
                command in  <i>sumo-wallet-cli</i> command line tool
				<br/>
                Note: address and tx private key are sent to the server, as the calculations are done on the server side
			</h5>
            <form action="/prove" method="get" style="max-width: 900px; margin: auto; text-align: center;">
               <input type="hidden" name="txhash" value="{{tx_hash}}"><br/>
              <div class="form-group">
                <input type="text" class="form-control" id="inputTxPrivateKey" placeholder="Tx private key" name="txprvkey"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputRecipientMoneroAddress" placeholder="Recipient's Sumokoin address" name="xmraddress"/>
              </div>
              <button type="submit" class="btn btn-explorer">Prove</button>
            </form>
          </div>
        </div>
    </div>
	{{/have_raw_tx}}
    <br/>
    <br/>

	{{#has_inputs}}
    <div class="panel panel-explorer">
        <div class="panel-heading">
		  {{^inputs_xmr_sum_not_zero}}
			{{inputs_no}} inputs(s) for total of {{inputs_xmr_sum_short}} SUMO
		  {{/inputs_xmr_sum_not_zero}}
		  {{#inputs_xmr_sum_not_zero}}
			{{^have_any_unknown_amount}}
			  {{inputs_no}} inputs(s) for total of {{inputs_xmr_sum}} SUMO
			{{/have_any_unknown_amount}}
			{{#have_any_unknown_amount}}
			  {{inputs_no}} inputs(s) for total of at least {{inputs_xmr_sum}} SUMO
			{{/have_any_unknown_amount}}
		  {{/inputs_xmr_sum_not_zero}}
        </div>
        <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Key image <span style="font-size:90%;font-weight:normal;">(click row to view details)</span></th>
					{{#have_raw_tx}}
					<th>Already spent?</th>
					{{/have_raw_tx}}
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
					{{#inputs}}
                    <tr class="tx-input">
                      <td>{{input_idx}}</td>
                      <td>
                        {{in_key_img}}
                      </td>
					  {{#have_raw_tx}}
					  <td>
						{{#already_spent}}
							<span style="color: red; font-weight: bold;">True</span>
						{{/already_spent}}
						{{^already_spent}}
							False
						{{/already_spent}}
					  </td>
					  {{/have_raw_tx}}
                      <td>{{{amount}}}</td>
                    </tr>
                    <tr style="display:none;"></tr>
                    <tr class="tx-mixins-container">
					  {{#have_raw_tx}}
                      <td colspan="4">
					  {{/have_raw_tx}}
					  {{^have_raw_tx}}
					  <td colspan="3">
					  {{/have_raw_tx}}
                        <div class="table-responsive">
                            <table class="table tx-mixins">
                              <thead>
                                <tr>
                                  <th>Mixin stealth address</th>
								  {{#have_raw_tx}}
								  <th>Is it real?</th>
								  {{/have_raw_tx}}
                                  <th>blk</th>
                                  <th>mixin</th>
                                  <th>in/out</th>
                                  <th>timestamp</th>
                                  <th>age [y:d:h:m:s]</th>
                                </tr>
                              </thead>
                              <tbody>
								  {{#mixins}}
                                  <tr>
                                    <td> - {{mix_idx}}: <a href="/tx/{{mix_tx_hash}}">{{mix_pub_key}}</a></td>
									{{#have_raw_tx}}
									  {{#mix_is_it_real}}
										<td><span style="color: #008009;font-weight: bold">True</span></td>
									  {{/mix_is_it_real}}
									  {{^mix_is_it_real}}
										<td>False</td>
									  {{/mix_is_it_real}}
								    {{/have_raw_tx}}
                                    <td>{{mix_blk}}</td>
                                    <td>{{mix_mixin_no}}</td>
                                    <td>{{mix_inputs_no}}/{{mix_outputs_no}}</td>
                                    <td>{{mix_timestamp}}</td>
                                    <td>{{mix_age}}</td>
                                  </tr>
                                  {{/mixins}}
                              </tbody>
                            </table>
                        </div>
                      </td>
                    </tr>
					{{/inputs}}
                </tbody>
              </table>
          </div>
        </div>
      </div>
	  <div class="panel panel-explorer">
        <div class="panel-heading">
          Inputs' mixins time scale (from {{min_mix_time}} till {{max_mix_time}};
          resolution: {{timescales_scale}} days{{#have_raw_tx}}; R - real mixin {{/have_raw_tx}})
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <ul class="center" style="font-family: monospace; padding:20px 10px 10px;">
				{{#timescales}}
                <li  style="list-style-type: none; text-align: center; font-size: 8px; height:22px">|{{timescale}}|</li>
				{{/timescales}}
            </ul>
          </div>
        </div>
      </div>
	  
	  {{^have_raw_tx}}
        {{^with_ring_signatures}}
          <h5 style="margin-top:1px"><a href="/tx/{{tx_hash}}/1">More details</a></h5>
        {{/with_ring_signatures}}
        {{#with_ring_signatures}}
          <h3>JSON representation of tx</h3>
          <div class="center">
              <code style="white-space: pre-wrap; font-size: 12px">
                  {{tx_json}}
              </code>
          </div>
          <h5 style="margin-top:1px"><a href="/tx/{{tx_hash}}">Less details</a></h5>
        {{/with_ring_signatures}}
      {{/have_raw_tx}}
	  
	{{/has_inputs}}
